@model DepartmentViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Department Details</h1>
<br />
<br />

<partial name="PartialViews/_DeleteDetailsPartialViews" />

<a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> ||<a class="btn btn-light" asp-action="Index">Back To List</a>

