@model UserViewModel

<div class="form-group">
    <label class="col-form-label" asp-for="Id"></label>
    <input class="form-control" asp-for="Id" readonly/>
    <span asp-validation-for="Id" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Fname"></label>
    <input class="form-control" asp-for="Fname" readonly />
    <span asp-validation-for="Fname" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Lname"></label>
    <input class="form-control" asp-for="Lname" readonly />
    <span asp-validation-for="Lname" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Email"></label>
    <input class="form-control" asp-for="Email" readonly />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="PhoneNumber"></label>
    <input class="form-control" asp-for="PhoneNumber" readonly />
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
</div>
