@model RoleViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Role Details</h1>

<br/>
<br/>
    
    <partial name="PartialViews/_DEleteDetailsPartialView" />
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id"> Edit</a>||<a class="btn btn-light" asp-action="Index">Back To List</a>

@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial" />
}