
@model UserViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Are You Sure You Want to Delete?</h1>


<br />
<br />
<div asp-validation-summary="All"></div>
<form asp-action="Delete">
    <partial name="PartialViews/_DeleteDetailsPartialView" />
    <input class="btn btn-primary" type="submit" value="Delete" />
    ||<a class="btn btn-light" asp-action="Index">Back To List</a>
</form>

